extends ../components/base/layout

block variables
  -
    const
          title = "card",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasPageNav = true,
          pageNavMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "card.html"

  -
    const params = {
      component: {
        mixin: "card",
        name: "Card",
        localName: "Карточка",
        git: "https://github.com/shumova/party-kit/tree/master/source/components/cards/card"
      },
      description: [
        "Можно использовать для любых целей: как фоновую подложку, основу для карточки товара/услуг, для размещения таблиц/изображений и&nbsp;т.д."
      ],
      base: [
    `mixin card(props = {})
    -
      const
            tag = props.tag || "div",
            modifiers = props.modifiers ? props.modifiers.map((mod) => "card--" + mod) : [];

    #{tag}(class=["card", ...modifiers])&attributes(attributes)
      block`,
    `.card {
      --vertical-space: 0;
      --horizontal-space: 0;
      --card-border-width: initial;
      --card-border-style: initial;
      --card-border-color: initial;
      --card-border-radius: 0;

      padding: var(--vertical-space) var(--horizontal-space);
      border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
      border-radius: var(--card-border-radius);
    }`
      ],
      modifiers: [
        {
          summary: "Внутренние отступы (общее значение для горизонтальных и вертикальных)",
          examples: [
            {
              props: {
                modifiers: ["space-xs", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-xs", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-s", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-s", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-m", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-m", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-l", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-l", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-2xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-2xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["space-3xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["space-3xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            }
          ],
          code:
    `&--space {
      &-xs {
        --vertical-space: #{$space-xs};
        --horizontal-space: #{$space-xs};
      }

      &-s {
        --vertical-space: #{$space-s};
        --horizontal-space: #{$space-s};
      }

      &-m {
        --vertical-space: #{$space-m};
        --horizontal-space: #{$space-m};
      }

      &-l {
        --vertical-space: #{$space-l};
        --horizontal-space: #{$space-l};
      }

      &-xl {
        --vertical-space: #{$space-xl};
        --horizontal-space: #{$space-xl};
      }

      &-2xl {
        --vertical-space: #{$space-2xl};
        --horizontal-space: #{$space-2xl};
      }

      &-3xl {
        --vertical-space: #{$space-3xl};
        --horizontal-space: #{$space-3xl};
      }
    }`
        },
        {
          summary: "Внутренние вертикальные отступы",
          examples: [
            {
              props: {
                modifiers: ["vertical-space-xs", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-xs", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-s", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-s", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-m", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-m", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-l", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-l", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-2xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-2xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["vertical-space-3xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["vertical-space-3xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            }
          ],
          code:
    `&--vertical-space {
      &-2xs {
        --vertical-space: #{$space-xs};
      }

      &-xs {
        --vertical-space: #{$space-s};
      }

      &-m {
        --vertical-space: #{$space-m};
      }

      &-l {
        --vertical-space: #{$space-l};
      }

      &-xl {
        --vertical-space: #{$space-xl};
      }

      &-2xl {
        --vertical-space: #{$space-2xl};
      }

      &-3xl {
        --vertical-space: #{$space-3xl};
      }
    }`
        },
        {
          summary: "Внутренние горизонтальные отступы",
          examples: [
            {
              props: {
                modifiers: ["horizontal-space-xs", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-xs", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-s", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-s", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-m", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-m", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-l", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-l", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-2xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-2xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["horizontal-space-3xl", "filled"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["horizontal-space-3xl", "filled"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            }
          ],
          code:
    `&--space {
      &-xs {
        --horizontal-space: #{$horizontal-space-xs};
      }

      &-s {
        --horizontal-space: #{$horizontal-space-s};
      }

      &-m {
        --horizontal-space: #{$horizontal-space-m};
      }

      &-l {
        --horizontal-space: #{$horizontal-space-l};
      }

      &-xl {
        --horizontal-space: #{$horizontal-space-xl};
      }

      &-2xl {
        --horizontal-space: #{$horizontal-space-2xl};
      }

      &-3xl {
        --horizontal-space: #{$horizontal-space-3xl};
      }
    }`
        },

        {
          summary: "Форма (радиус закругления углов)",
          examples: [
            {
              props: {
                modifiers: ["form-round", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-xs", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-s", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-m", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-m", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-l", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-l", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-xl", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-xl", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-2xl", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-2xl", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            },
            {
              props: {
                modifiers: ["form-round-3xl", "filled", "space-l"]
              },
              block: {
                mixin: "text",
                props: {
                  content: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  ]
                }
              },
              code:
    `+card({modifiers: ["form-round-3xl", "filled", "space-l"]})
      +text({
        content: [
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        ]
      })`
            }
          ],
          code:
    `&--form {
      &-round {
        --card-border-radius: 50%;

        &-xs {
          --card-border-radius: #{$space-xs};
        }

        &-s {
          --card-border-radius: #{$space-s};
        }

        &-m {
          --card-border-radius: #{$space-m};
        }

        &-l {
          --card-border-radius: #{$space-l};
        }

        &-xl {
          --card-border-radius: #{$space-xl};
        }

        &-2xl {
          --card-border-radius: #{$space-2xl};
        }

        &-3xl {
          --card-border-radius: #{$space-3xl};
        }
      }
    }`
        },
        {
          summary: "Elevation (тени, фон, непрозрачность и другие свойства визуализации виртуальной Z-координаты карточки относительно “базового” слоя экрана)",
          examples: [
            {
              props: {
                modifiers: ["elevated-shadow-1", "space-2xl"]
              },
              code:
    `+card({modifiers: ["elevated-shadow-1", "space-2xl"]}`
            },
            {
              props: {
                modifiers: ["elevated-shadow-2", "space-2xl"]
              },
              code:
    `+card({modifiers: ["elevated-shadow-2", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["elevated-shadow-3", "space-2xl"]
              },
              code:
    `+card({modifiers: ["elevated-shadow-3", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["elevated-shadow-4", "space-2xl"]
              },
              code:
    `+card({modifiers: ["elevated-shadow-4", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["elevated-shadow-5", "space-2xl"]
              },
              code:
    `+card({modifiers: ["elevated-shadow-5", "space-2xl"]})`
            }
          ],
          code:
    `&--elevated {
      &-shadow {
        &-1 {
          box-shadow: $shadow-layer-1;
        }

        &-2 {
          box-shadow: $shadow-layer-2;
        }

        &-3 {
          box-shadow: $shadow-layer-3;
        }

        &-4 {
          box-shadow: $shadow-layer-4;
        }

        &-5 {
          box-shadow: $shadow-layer-5;
        }
      }
    }`
        },
        {
          summary: "Фоновый цвет",
          note: {
            tag: "p",
            content: [
              "Если в проекте не предусмотрена семантическая цветовая палитра, для нейминга цветов используйте https://www.htmlcsscolor.com/hex/334482",
              "Если не предусмотрена смена цветового режима, используйте sass-переменные"
            ]
          },
          examples: [
            {
              props: {
                modifiers: ["filled", "space-2xl", "bordered"]
              },
              code:
    `+card({modifiers: ["filled", "space-2xl", "bordered"]}`
            },
            {
              props: {
                modifiers: ["filled-secondary", "space-2xl"]
              },
              code:
    `+card({modifiers: ["filled-secondary", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["filled-brand", "space-2xl"]
              },
              code:
    `+card({modifiers: ["filled-brand", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["filled-stripe", "space-2xl"]
              },
              code:
    `+card({modifiers: ["filled-stripe", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["filled-tone", "space-2xl"]
              },
              code:
    `+card({modifiers: ["filled-tone", "space-2xl"]})`
            }
          ],
          code:
    `&--filled {
      background-color: var(--color-bg-default);

      &-secondary {
        background-color: var(--color-bg-secondary);
      }

      &-brand {
        background-color: var(--color-bg-brand);
      }

      &-stripe {
        background-color: var(--color-bg-stripe);
      }

      &-tone {
        background-color: var(--color-bg-tone);
      }

      &-soft {
        background-color: var(--color-bg-soft);
      }
    }`
        },

        {
          summary: "Граница",
          examples: [
            {
              props: {
                modifiers: ["border-default", "space-2xl"]
              },
              code:
    `+card({modifiers: ["border-default", "space-2xl"]`
            },
            {
              props: {
                modifiers: ["border-style-solid", "border-width-s", "border-color-secondary", "space-2xl"]
              },
              code:
    `+card({modifiers: ["border-style-solid", "border-width-s", "border-color-secondary", "space-2xl"]})`
            },
            {
              props: {
                modifiers: ["border-style-dotted", "border-width-m", "border-color-brand", "space-2xl"]
              },
              code:
    `+card({modifiers: ["border-style-dotted", "border-width-m", "border-color-brand", "space-2xl"]})`
            }
          ],
          code:
    `&--border {
      &-default {
        --card-border-width: 1px;
        --card-border-style: solid;
        --card-border-color: var(--color-bg-border);
      }

      &-style {
        &-solid {
          --card-border-style: solid;
        }

        &-dotted {
          --card-border-style: dotted;
        }
      }

      &-width {
        &-s {
          --card-border-width: 2px;
        }

        &-m {
          --card-border-width: 3px;
        }
      }

      &-color {
        &-brand {
          --card-border-color: var(--color-bg-brand);
        }

        &-secondary {
          --card-border-color: var(--color-bg-secondary);
        }
      }
    }`
        }
      ]
    }

block page
  +component(params)

block modals
