extends ../components/base/layout

block variables
  -
    const
          title = "grid",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasPageNav = true,
          pageNavMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "grid.html"

  -
    const params = {
      component: {
        mixin: "grid",
        name: "Grid",
        localName: "Модульная сетка",
        git: "https://github.com/shumova/party-kit/tree/master/source/components/grid"
      },
      description: [
        "В&nbsp;компоненте предусмотрены различные способы передачи дочерних элементов, но&nbsp;если нет и&nbsp;не&nbsp;удаётся найти подходящего решения для какого-то кейса, то можно обойтись без pug-шаблона и использовать только стилевой файл компонента"
      ],
      base: [
    `mixin grid (props = {})
    -
      const
            tag = props.tag || "div",
            content = props.content || [],
            modifiers = props.modifiers ? props.modifiers.map((mod) => "grid--" + mod) : [];

    case tag
      when "ul"
      when "ol"
        #{tag}(class=["grid", ...modifiers])&attributes(attributes)
          each item in content
            - const itemModifiers = item.modifiers ? item.modifiers.map((mod) => "grid__item--" + mod) : [];

            li(class=["grid__item", ...itemModifiers])
              +#{item.component}(item.params)

      default
        #{tag}(class=["grid", ...modifiers])&attributes(attributes)
          if content.length
            each item in content
              - const itemModifiers = item.modifiers ? item.modifiers.map((mod) => "grid__item--" + mod) : [];
              - const itemParentClass = item.parentClass || [];

              +#{item.component}(item.params)(class=["grid__item", ...itemModifiers, ...itemParentClass])
          else
            block`,
    `.grid {
      display: grid;
      grid-template-columns: repeat(var(--cols, 1), minmax(0, 1fr));

      &ul,
      &ol {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      &__item {
        grid-column: var(--col-start, span) var(--col-end, 1);
        grid-row: var(--row-start, span) var(--row-end, 1);
      }
    }`

      ],
    }

  -
    const _params = {
      card: {
        code: {
          modifiers: ["filled", "form-round-m", "space-xl"]
        }
      },
      header: {
        title: {
          tag: "h1",
          text: "grid",
          modifiers: ["size-3xl"]
        },
        subtitle: {
          text: "Модальная сетка",
          modifiers: ["size-2xl"]
        },
        iconBtn: {
          href: "https://github.com/shumova/party-kit/tree/master/source/components/grid",
          ariaLabel: `Open grid component in git`,
          icon: {
            name: "git",
            width: 32,
            height: 32,
          },
          modifiers: ["form-round", "elevated-shadow-1"]
        }
      },
      description: {
        title: {
          tag: "h2",
          text: "Использование",
          modifiers: ["size-2xl"]
        },
        text: {
          tag: "p",
          content: description
        }
      },
      base: {
        title: {
          tag: "h2",
          text: "Базовый компонент",
          modifiers: ["size-2xl"]
        }
      },
      modifiers: {
        title: {
          tag: "h2",
          text: "Модификаторы",
          modifiers: ["size-2xl"]
        },
        card: {
          modifiers: ["filled-stripe", "form-round-m", "space-m"]
        },
        note: {
          content: [
            "Если для&nbsp;проекта не&nbsp;предусмотрены токены, используйте жёстко закодированные значения",
            "Стили для адаптива задавайте как удобней:\<br>- переопределением в самом модификаторе, например: \<pre>\<code>&--cols {\<br>  &-2 {\<br>    --cols: 2; \<br>\<br>    @include vp-767 {\<br>      --cols: 1;\<br>    }\<br>}\</code>\</pre>\<br>- переопределением от родительского класса .parent__grid или .parent .grid \<br>- отдельными модификаторами с отражением в имени как меняется раскладка, а не в каком блоке/компоненте гриды используются"
          ],
          modifiers: ["size-l"]
        }
      },
      examples: {
        title: {
          tag: "h2",
          text: "Примеры передачи дочерних элементов",
          modifiers: ["size-2xl"]
        },
        card: {
          modifiers: ["filled-stripe", "form-round-m", "space-l"]
        },
        note: {
          tag: "p",
          content: examples?.note,
          modifiers: ["size-l"]
        },
        snippet: {
          title: {
            tag: "h3",
            text: "Пример",
            modifiers: ["size-xl"]
          }
        }
      },
    }

  -
    const cards = [
      {
        text: {
          content: "1"
        }
      },
      {
        text: {
          content: "2"
        }
      },
      {
        text: {
          content: "3"
        }
      },
      {
        text: {
          content: "4"
        }
      }
    ]

block page
  +component(params)
    .component__modifiers
        +title(_params.modifiers.title)
        +card(_params.card.code).component__card
          +text(_params.modifiers.note).component__text
          pre
            code.
              .grid {
                ...

          .component__inner-code
            +details({
              summary: "Колонки",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-3"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-3"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-4"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-4"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--cols {
                      &-2 {
                        --cols: 2;

                        @include vp-767 {
                          --cols: 1;
                        }
                      }

                      &-3 {
                        --cols: 3;
                      }

                      &-4 {
                        --cols: 4;

                        @include vp-1023 {
                          --cols: 2;
                        }

                        @include vp-767 {
                          --cols: 1;
                        }
                      }

                      &-5 {
                        --cols: 5;
                      }

                      &-6 {
                        --cols: 6;
                      }
                    }

            +details({
              summary: "Отступы по&nbsp;вертикали и горизонтали",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-s"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-s"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-m"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-m"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-l"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-l"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-2xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-2xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-3xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-3xl"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--gap {
                      &-s {
                        grid-gap: $space-s;
                      }

                      &-m {
                        grid-gap: $space-m;
                      }

                      &-l {
                        grid-gap: $space-l;
                      }

                      &-xl {
                        grid-gap: $space-xl;
                      }

                      &-2xl {
                        grid-gap: $space-2xl;
                      }

                      &-3xl {
                        grid-gap: $space-3xl;
                      }
                    }

            +details({
              summary: "Отступы по&nbsp;вертикали",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-s"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-s"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-m"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-m"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-l"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-l"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-2xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-2xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "colGap-3xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "colGap-3xl"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--colGap {
                      &-s {
                        grid-column-gap: $space-s;
                      }

                      &-m {
                        grid-column-gap: $space-m;
                      }

                      &-l {
                        grid-column-gap: $space-l;
                      }

                      &-xl {
                        grid-column-gap: $space-xl;
                      }

                      &-2xl {
                        grid-column-gap: $space-2xl;
                      }

                      &-3xl {
                        grid-column-gap: $space-3xl;
                      }
                    }

            +details({
              summary: "Отступы по&nbsp;горизонтали",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-s"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-s"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-m"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-m"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-l"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-l"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-2xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-2xl"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "rowGap-3xl"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "rowGap-3xl"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--rowGap {
                      &-s {
                        grid-row-gap: $space-s;
                      }

                      &-m {
                        grid-row-gap: $space-m;
                      }

                      &-l {
                        grid-row-gap: $space-l;
                      }

                      &-xl {
                        grid-row-gap: $space-xl;
                      }

                      &-2xl {
                        grid-row-gap: $space-2xl;
                      }

                      &-3xl {
                        grid-row-gap: $space-3xl;
                      }
                    }

            +details({
              summary: "Выравнивание внутри ячеек по&nbsp;горизонтали",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-s", "xAlign-left"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-s", "xAlign-left"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-m", "xAlign-center"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-m", "xAlign-center"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-l", "xAlign-right"]})
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-l", "xAlign-right"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--xAlign {
                      &-left {
                        justify-items: start;
                      }

                      &-center {
                        justify-items: center;
                      }

                      &-right {
                        justify-items: end;
                      }
                    }

            +details({
              summary: "Выравнивание внутри ячеек по&nbsp;вертикали",
            })
              +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-s", "yAlign-top"]})(style="height: 250px;")
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-s", "yAlign-top"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-m", "yAlign-center"]})(style="height: 250px;")
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-m", "yAlign-center"]})
                          each card in cards
                            +base-card(card)

                +card(_params.modifiers.card).component__example
                  +grid({modifiers: ["cols-2", "gap-l", "yAlign-bottom"]})(style="height: 250px;")
                    each card in cards
                      +base-card(card)
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({modifiers: ["cols-2", "gap-l", "yAlign-bottom"]})
                          each card in cards
                            +base-card(card)

              .component__code
                pre
                  code.
                    &--yAlign {
                      &-top {
                        align-items: start;
                      }

                      &-center {
                        align-items: center;
                      }

                      &-bottom {
                        align-items: end;
                      }
                    }
            pre
              code &__item {

            +details({
              summary: "Количество колонок, занимаемое элементом сетки",
            })
              +grid().component__examples
                +card(_params.modifiers.card).component__example
                  +grid({
                    modifiers: ["cols-6", "gap-s"],
                    content: {
                      component: "base-card",
                      items: [
                        {
                          modifiers: ["col-1"],
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          modifiers: ["col-2"],
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          modifiers: ["col-3"],
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          modifiers: ["col-4"],
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        }
                      ]
                    }
                  })
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({
                          modifiers: ["cols-6", "gap-s"],
                          content: {
                            component: "base-card",
                            items: [
                              {
                                modifiers: ["col-1"],
                                params: {
                                  text: {
                                    content: `1`
                                  }
                                }
                              },
                              {
                                modifiers: ["col-2"],
                                params: {
                                  text: {
                                    content: `2`
                                  }
                                }
                              },
                              {
                                modifiers: ["col-3"],
                                params: {
                                  text: {
                                    content: `3`
                                  }
                                }
                              },
                              {
                                modifiers: ["col-4"],
                                params: {
                                  text: {
                                    content: `4`
                                  }
                                }
                              }
                            ]
                          }
                        })

              .component__code
                pre
                  code.
                    &--col {
                      &-1 {
                        --col-end: 1;
                      }

                      &-2 {
                        --col-end: 2;
                      }

                      &-3 {
                        --col-end: 3;
                      }

                      &-4 {
                        --col-end: 4;
                      }
                    }

            +details({
              summary: "С&nbsp;какой колонки начинается элемент",
            })
              +grid().component__examples
                +card(_params.modifiers.card).component__example
                  +grid({
                    modifiers: ["cols-6", "gap-s"],
                    content: {
                      component: "base-card",
                      items: [
                        {
                          modifiers: ["colStart-2"],
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          modifiers: ["colStart-1"],
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          modifiers: ["colStart-4"],
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          modifiers: ["colStart-3"],
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        }
                      ]
                    }
                  })
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({
                          modifiers: ["cols-6", "gap-s"],
                          content: {
                            component: "base-card",
                            items: [
                              {
                                modifiers: ["colStart-2"],
                                params: {
                                  text: {
                                    content: `1`
                                  }
                                }
                              },
                              {
                                modifiers: ["colStart-1"],
                                params: {
                                  text: {
                                    content: `2`
                                  }
                                }
                              },
                              {
                                modifiers: ["colStart-4"],
                                params: {
                                  text: {
                                    content: `3`
                                  }
                                }
                              },
                              {
                                modifiers: ["colStart-3"],
                                params: {
                                  text: {
                                    content: `4`
                                  }
                                }
                              }
                            ]
                          }
                        })

              .component__code
                pre
                  code.
                    &--colStart {
                      &-1 {
                        --col-start: 1 / span;
                      }

                      &-2 {
                        --col-start: 2 / span;
                      }

                      &-3 {
                        --col-start: 3 / span;
                      }

                      &-4 {
                        --col-start: 4 / span;
                      }
                    }

            +details({
              summary: "Количество строк",
            })
              +grid().component__examples
                +card(_params.modifiers.card).component__example
                  +grid({
                    modifiers: ["cols-6", "gap-s"],
                    content: {
                      component: "base-card",
                      items: [
                        {
                          modifiers: ["row-1"],
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          modifiers: ["row-2"],
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          modifiers: ["row-3"],
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          modifiers: ["row-4"],
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        }
                      ]
                    }
                  })
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({
                          modifiers: ["cols-6", "gap-s"],
                          content: {
                            component: "base-card",
                            items: [
                              {
                                modifiers: ["row-1"],
                                params: {
                                  text: {
                                    content: `1`
                                  }
                                }
                              },
                              {
                                modifiers: ["row-2"],
                                params: {
                                  text: {
                                    content: `2`
                                  }
                                }
                              },
                              {
                                modifiers: ["row-3"],
                                params: {
                                  text: {
                                    content: `3`
                                  }
                                }
                              },
                              {
                                modifiers: ["row-4"],
                                params: {
                                  text: {
                                    content: `4`
                                  }
                                }
                              }
                            ]
                          }
                        })

              .component__code
                pre
                  code.
                    &--row {
                      &-1 {
                        --row-end: 1;
                      }

                      &-2 {
                        --row-end: 2;
                      }

                      &-3 {
                        --row-end: 3;
                      }

                      &-4 {
                        --row-end: 4;
                      }
                    }

            +details({
              summary: "С&nbsp;какой строки начинается элемент",
            })
              +grid().component__examples
                +card(_params.modifiers.card).component__example
                  +grid({
                    modifiers: ["cols-6", "gap-s"],
                    content: {
                      component: "base-card",
                      items: [
                        {
                          modifiers: ["rowStart-2"],
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          modifiers: ["rowStart-1"],
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          modifiers: ["rowStart-4"],
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          modifiers: ["rowStart-3"],
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        }
                      ]
                    }
                  })
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({
                          modifiers: ["cols-6", "gap-s"],
                          content: {
                            component: "base-card",
                            items: [
                              {
                                modifiers: ["rowStart-2"],
                                params: {
                                  text: {
                                    content: `1`
                                  }
                                }
                              },
                              {
                                modifiers: ["rowStart-1"],
                                params: {
                                  text: {
                                    content: `2`
                                  }
                                }
                              },
                              {
                                modifiers: ["rowStart-4"],
                                params: {
                                  text: {
                                    content: `3`
                                  }
                                }
                              },
                              {
                                modifiers: ["rowStart-3"],
                                params: {
                                  text: {
                                    content: `4`
                                  }
                                }
                              }
                            ]
                          }
                        })

              .component__code
                pre
                  code.
                    &--rowStart {
                      &-1 {
                        --row-start: 1 / span;
                      }

                      &-2 {
                        --row-start: 2 / span;
                      }

                      &-3 {
                        --row-start: 3 / span;
                      }

                      &-4 {
                        --row-start: 4 / span;
                      }
                    }

            +details({
              summary: "Порядок элементов",
            })
              +grid().component__examples
                +card(_params.modifiers.card).component__example
                  +grid({
                    modifiers: ["cols-6", "gap-s"],
                    content: {
                      component: "base-card",
                      items: [
                        {
                          modifiers: ["order-2"],
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          modifiers: ["order-0"],
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          modifiers: ["order--1"],
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        }
                      ]
                    }
                  })
                  +details({
                    summary: "Показать код"
                  })
                    pre
                      code.
                        +grid({
                          modifiers: ["cols-6", "gap-s"],
                          content: {
                            component: "base-card",
                            items: [
                              {
                                modifiers: ["order-2"],
                                params: {
                                  text: {
                                    content: `1`
                                  }
                                }
                              },
                              {
                                modifiers: ["order-0"],
                                params: {
                                  text: {
                                    content: `2`
                                  }
                                }
                              },
                              {
                                params: {
                                  text: {
                                    content: `3`
                                  }
                                }
                              },
                              {
                                modifiers: ["order--1"],
                                params: {
                                  text: {
                                    content: `4`
                                  }
                                }
                              }
                            ]
                          }
                        })

              .component__code
                pre
                  code.
                    &--order {
                      &--1 {
                        order: -1;
                      }

                      &-0 {
                        order: 0;
                      }

                      &-1 {
                        order: 1;
                      }
                    }

            pre
              code }

          pre
            code }

    .component__calls
      +title(_params.examples.title)
      +card(_params.card.code).component__card
        +grid({modifiers: ["cols-2", "gap-l"]}).component__examples
          +card(_params.examples.card).component__call
            +title(Object.assign(_params.examples.snippet.title, {text: "Передача дочернего элемента как block. Компонент используется для задания грид-контекста"}))
            .component__view
              +grid()
                +base-card({
                  text: {
                    content: "1"
                  }
                })
            +details({summary: "Показать код"})
              pre
                code.
                  +grid()
                    +base-card({
                      text: {
                        content: "1"
                      }
                    })

          +card(_params.examples.card).component__call
            +title(Object.assign(_params.examples.snippet.title, {text: "Передача дочерних элементов через цикл (while или each in) когда не нужны списочные теги (ul/ol и li)"}))
            .component__view
              +grid({modifiers: ["cols-2", "gap-s"]})
                each card in cards
                  +base-card(card)
            +details({summary: "Показать код"})
              pre
                code.
                  +grid({modifiers: ["cols-2", "gap-s"]})
                    - let n = 0;
                    while n < 4
                      +base-card({
                        text: {
                          content: `${n++}`
                        }
                      })

          +card(_params.examples.card).component__call
            +title(Object.assign(_params.examples.snippet.title, {text: "Передача дочерних элементов (общий миксин) через props с&nbsp;заданием списочных тегов (ul/ol и li)"}))
            .component__view
              +grid({
                modifiers: ["cols-2", "gap-l"], tag: "ul",
                content: {
                  component: "base-card",
                  items: [
                    {
                      params: {
                        text: {
                          content: `1`
                        }
                      }
                    },
                    {
                      params: {
                        text: {
                          content: `2`
                        }
                      }
                    },
                    {
                      params: {
                        text: {
                          content: `3`
                        }
                      }
                    },
                    {
                      params: {
                        text: {
                          content: `4`
                        }
                      }
                    },
                  ]
                }
              })

            +details({summary: "Показать код"})
              pre
                code.
                  +grid({
                    modifiers: ["cols-2", "gap-l"], tag: "ul",
                    content: {
                      component: "base-card",
                      items: [
                        {
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          params: {
                            text: {
                              content: `2`
                            }
                          }
                        },
                        {
                          params: {
                            text: {
                              content: `3`
                            }
                          }
                        },
                        {
                          params: {
                            text: {
                              content: `4`
                            }
                          }
                        },
                      ]
                    }
                  })

          +card(_params.examples.card).component__call
            +title(Object.assign(_params.examples.snippet.title, {text: "Передача дочерних элементов (разные миксины) через props с&nbsp;заданием списочных тегов (ul/ol и li)"}))
            .component__view
              +grid({
                modifiers: ["cols-2", "gap-l"], tag: "ol",
                content: {
                  items: [
                    {
                      component: "base-card",
                      params: {
                        text: {
                          content: `1`
                        }
                      }
                    },
                    {
                      component: "btn",
                      params: {
                        href: "#",
                        text: "Button",
                        modifiers: ["view-primary", "form-round-s", "size-m", "elevated-shadow-1"]
                      }
                    },
                    {
                      component: "title",
                      params: {
                        text: [
                          "It's a Title"
                        ],
                        modifiers: ["size-2xl"]
                      }
                    }
                  ]
                }
              })

            +details({summary: "Показать код"})
              pre
                code.
                  +grid({
                    modifiers: ["cols-2", "gap-l"], tag: "ol",
                    content: {
                      items: [
                        {
                          component: "base-card",
                          params: {
                            text: {
                              content: `1`
                            }
                          }
                        },
                        {
                          component: "btn",
                          params: {
                            href: "#",
                            text: "Button",
                            modifiers: ["view-primary", "form-round-s", "size-m", "elevated-shadow-1"]
                          }
                        },
                        {
                          component: "title",
                          params: {
                            text: [
                              "It's a Title"
                            ],
                            modifiers: ["size-2xl"]
                          }
                        }
                      ]
                    }
                  })
block modals
