extends ../components/base/layout

block variables
  -
    const
          title = "title",
          wrapperMods = "",
          hasHeader = false,
          headerMods = "",
          hasPageNav = true,
          pageNavMods = "",
          hasFooter = false,
          footerMods = "",
          currentUrl = "title.html"

  -
    const params = {
      component: {
        mixin: "title",
        name: "Title",
        localName: "Заголовок"
      },
      description: [
        "Везде, где подходит по стилям (тег не обязательно должен быть h-, дефолтный тег span)",
        "Все параметры типографики по умолчанию наследуются и задаются модификаторами"
      ],
      base: [
    `mixin title(props = {})
    -
      const
            tag = props.tag || "span",
            text = props.text || "",
            modifiers = props.modifiers ? props.modifiers.map((mod) => "title--" + mod) : [];

    #{tag}(class=["title", ...modifiers])&attributes(attributes)!= text`,
    `.title {
      --font-weight: inherit;
      --font-size: inherit;
      --line-height: inherit;
      --letter-spacing: inherit;

      margin: 0;
      padding: 0;
      font-weight: var(--font-weight);
      font-size: var(--font-size);
      line-height: var(--line-height);
      letter-spacing: var(--letter-spacing);
    }`
      ],
      modifiers: [
        {
          summary: "Комбинирование модификаторов",
          note: [
            "Если так удобней для стилизации адаптива и/или при небольшой вариативности заголовков модификаторы геометрии текста (размер, насыщенность, межстрочный и межбуквенный интервалы) комбинируются. Декоративные модификаторы (цвет, подчёркивание) лучше оставлять отдельно и не комбинировать с другими модификаторами кроме случаев, когда в макете явно задана семантика заголовков"
          ],
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["small"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["small"]
    })`
            },
          ],
          code:
    `&--small {
      --font-weight: #{$font-weight-text-extrabold};
      --font-size: #{$size-text-l};
      --line-height: #{$line-height-text-m};

        @include vp-1023 {
          --font-weight: #{$font-weight-text-bold};
          --font-size: #{$size-text-m};
        }

        @include vp-767 {
          --font-size: #{$size-text-s};
          --line-height: #{$line-height-text-s};
        }
    }`
        },
        {
          summary: "Размер",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["size-s"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-s"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-m"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-m"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-l"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-l"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-xl"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-xl"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-2xl"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-2xl"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-3xl"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-3xl"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-4xl"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-4xl"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["size-5xl"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["size-5xl"]
    })`
            }
          ],
          code:
    `&--size {
      &-s {
        --font-size: #{$size-text-s};
      }

      &-m {
        --font-size: #{$size-text-m};
      }

      &-l {
        --font-size: #{$size-text-l};

        @include vp-1023 {
          --font-size: #{$size-text-m};
        }

        @include vp-767 {
          --font-size: #{$size-text-s};
        }
      }

      &-xl {
        --font-size: #{$size-text-xl};

        @include vp-1023 {
          --font-size: #{$size-text-l};
        }

        @include vp-767 {
          --font-size: #{$size-text-m};
        }
      }

      &-2xl {
        --font-size: #{$size-text-2xl};

        @include vp-1023 {
          --font-size: #{$size-text-xl};
        }

        @include vp-767 {
          --font-size: #{$size-text-l};
        }
      }

      &-3xl {
        --font-size: #{$size-text-3xl};

        @include vp-1023 {
          --font-size: #{$size-text-2xl};
        }

        @include vp-767 {
          --font-size: #{$size-text-xl};
        }
      }

      &-4xl {
        --font-size: #{$size-text-4xl};

        @include vp-1023 {
          --font-size: #{$size-text-3xl};
        }

        @include vp-767 {
          --font-size: #{$size-text-2xl};
        }
      }

      &-5xl {
        --font-size: #{$size-text-5xl};

        @include vp-1023 {
          --font-size: #{$size-text-4xl};
        }

        @include vp-767 {
          --font-size: #{$size-text-3xl};
        }
      }
    }`
        },
        {
          summary: "Насыщенность",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["weight-thin"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-thin"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-light"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-light"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-regular"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-regular"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-medium"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-medium"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-semibold"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-semibold"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-bold"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-bold"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-extrabold"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-extrabold"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["weight-black"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["weight-black"]
    })`
            },
          ],
          code:
    `&--weight {
      &-thin {
        --font-weight: #{$font-weight-text-thin};
      }

      &-light {
        --font-weight: #{$font-weight-text-light};
      }

      &-regular {
        --font-weight: #{$font-weight-text-regular};
      }

      &-medium {
        --font-weight: #{$font-weight-text-medium};
      }

      &-semibold {
        --font-weight: #{$font-weight-text-semibold};
      }

      &-bold {
        --font-weight: #{$font-weight-text-bold};
      }

      &-extrabold {
        --font-weight: #{$font-weight-text-extrabold};
      }

      &-black {
        --font-weight: #{$font-weight-text-black};
      }
    }`
        },
        {
          summary: "Межстрочный интервал",
          note: ["Лучше не задавать в %, т.к. бывают баги"],
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["line-heigth-2xs"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["line-heigth-2xs"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["line-heigth-xs"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["line-heigth-xs"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["line-heigth-s"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["line-heigth-s"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["line-heigth-m"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["line-heigth-m"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["line-heigth-l"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["line-heigth-l"]
    })`
            },
          ],
          code:
    `&--line-heigth {
      &-2xs {
        --line-height: #{$line-height-text-2xs};
      }

      &-xs {
        --line-height: #{$line-height-text-xs};
      }

      &-s {
        --line-height: #{$line-height-text-s};
      }

      &-m {
        --line-height: #{$line-height-text-m};
      }

      &-l {
        --line-height: #{$line-height-text-l};
      }
    }`
        },

        {
          summary: "Межбуквенный интервал",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["spacing-xs"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["spacing-xs"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["spacing-s"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["spacing-s"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["spacing-m"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["spacing-m"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["spacing-l"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["spacing-l"]
    })`
            }
          ],
          code:
    `&--spacing {
      &-xs {
        --letter-spacing: 0.06em;
      }

      &-s {
        --letter-spacing: 0.1em;
      }

      &-m {
        --letter-spacing: 0.14em;
      }

      &-l {
        --letter-spacing: 0.2em;
      }
    }`
        },
        {
          summary: "Цвет",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["color-primary"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-primary"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-secondary"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-secondary"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-ghost"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-ghost"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-brand"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-brand"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-system"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-system"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-normal"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-normal"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-success"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-success"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-caution"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-caution"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-warning"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-warning"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-alert"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-alert"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["color-critical"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["color-critical"]
    })`
            },
          ],
          code:
    `&--color {
      &-primary {
        color: $color-typo-primary;
      }

      &-secondary {
        color: $color-typo-secondary;
      }

      &-ghost {
        color: $color-typo-ghost;
      }

      &-brand {
        color: $color-typo-brand;
      }

      &-system {
        color: $color-typo-system;
      }

      &-normal {
        color: $color-typo-normal;
      }

      &-success {
        color: $color-typo-success;
      }

      &-caution {
        color: $color-typo-caution;
      }

      &-warning {
        color: $color-typo-warning;
      }

      &-alert {
        color: $color-typo-alert;
      }

      &-critical {
        color: $color-typo-critical;
      }
    }`
        },
        {
          summary: "Трансформация текста",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["transform-uppercase"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["transform-uppercase"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["transform-capitalize"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["transform-capitalize"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["transform-lowercase"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["transform-lowercase"]
    })`
            },
          ],
          code:
    `&--transform {
      &-uppercase {
        text-transform: uppercase;
      }

      &-capitalize {
        text-transform: capitalize;
      }

      &-lowercase {
        text-transform: lowercase;
      }
    }`
        },
        {
          summary: "Подчёркивание",
          examples: [
            {
              props: {
                text: "Title",
                modifiers: ["underlined"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-no-skip"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-no-skip"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-offset-s"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-offset-s"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-offset-m"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-offset-m"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-offset-l"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-offset-l"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-thickness-s"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-thickness-s"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-thickness-m"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-thickness-m"]
    })`
            },
            {
              props: {
                text: "Title",
                modifiers: ["underlined", "underlined-thickness-l"]
              },
              code:
    `+title({
      text: "Title",
      modifiers: ["underlined", "underlined-thickness-l"]
    })`
            },
          ],
          code:
    `&--underlined {

      // Сплошное

      text-decoration: underline;


      // Непрерывное

      &-no-skip {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-decoration-skip: none;
      }


      // Отступ линии от текста

      &-offset {
        &-s {
          text-underline-offset: 0.1em;
        }

        &-m {
          text-underline-offset: 0.2em;
        }

        &-l {
          text-underline-offset: 0.3em;
        }
      }


      // Толщина линии

      &-thickness {
        &-s {
          text-decoration-thickness: 0.01em;
        }

        &-m {
          text-decoration-thickness: 0.1em;
        }
      }
    }`
        },
        {
          summary: "Видимость текста в блоке",
          examples: [
            {
              props: {
                text: "Extra long title that doesn't fit its container and has to be truncated",
                modifiers: ["truncate"]
              },
              code:
    `+title({
      text: "Extra long title that doesn't fit its container",
      modifiers: ["truncate"]
    })`
            },
            {
              props: {
                text: "Extra long title that doesn't fit its container and has to be truncated",
                modifiers: ["truncate", "truncate-2-lines"]
              },
              code:
    `+title({
      text: "Extra long title that doesn't fit its container",
      modifiers: ["truncate", "truncate-2-lines"]
    })`
            }
          ],
          code:
    `&--truncate {
      --line-clamp: 1;

      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp);
      -webkit-box-orient: vertical;
      overflow: hidden;

      &-2-lines {
        --line-clamp: 2;
      }
    }`
        }
      ],
      examples: [
        {
          params: {
            tag: "h3",
            text: "Title example",
            modifiers: ["size-2xl", "color-brand", "underlined-no-skip", "weight-bold"]
          },
          stringParams:
    `+title({
      tag: "h3",
      text: "Title example",
      modifiers: ["size-2xl", "color-brand", "underlined-no-skip", "weight-bold"]
    })`
        },
        {
          params: {
            text: "Title example",
            modifiers: ["size-l", "underlined"]
          },
          stringParams:
    `+title({
      text: "Title example",
      modifiers: ["size-l", "underlined"]
    })`
        }
      ]
    }

block page
  +component(params).page__content

block modals
