mixin component(props = {})
  - const {component, description, base, modifiers, examples} = props;
  -
    const _params = {
      card: {
        code: {
          modifiers: ["filled", "border-radius-xl", "size-xl"]
        }
      },
      header: {
        title: {
          tag: "h1",
          text: component.name,
          modifiers: ["size-3xl"]
        },
        subtitle: {
          text: component.localName,
          modifiers: ["size-2xl"]
        }
      },
      description: {
        title: {
          tag: "h2",
          text: "Использование",
          modifiers: ["size-2xl"]
        },
        text: {
          tag: "p",
          content: description
        }
      },
      base: {
        title: {
          tag: "h2",
          text: "Базовый компонент",
          modifiers: ["size-2xl"]
        }
      },
      modifiers: {
        title: {
          tag: "h2",
          text: "Модификаторы",
          modifiers: ["size-2xl"]
        }
      },
      examples: {
        title: {
          tag: "h2",
          text: "Примеры вызова",
          modifiers: ["size-2xl"]
        }
      }
    }


  .component&attributes(attributes)

    .component__header
      +title(_params.header.title)
      +title(_params.header.subtitle).component__localName

    .component__description
      +title(_params.description.title)
      +text(_params.description.text)

    .component__base
      +title(_params.base.title)

      each snippet in base
        +card(_params.card.code)
          pre
            code.
              #{snippet}

    .component__modifiers
      +title(_params.modifiers.title)
      +card(_params.card.code)
        pre
          code.
            .#{component.mixin} {
              ...

        .component__inner-code
          each snippet in modifiers
            +details({summary: snippet.summary})
              if snippet.note
                +text({
                  content: snippet.note
                })

              if snippet.examples
                .component__examples
                  each example in snippet.examples
                    .component__example
                      +#{component.mixin}(example.props)
                      pre
                        code.
                          #{example.code}

              pre
                code.
                  #{snippet.code}

        pre
          code }

    //- .component__examples
    //-   +title(_params.examples.title)
    //-   +card(_params.card.code)
    //-     each example in examples
    //-       .component__example
    //-         +#{component.mixin}(example.params)
    //-         pre
    //-           code.
    //-             #{example.stringParams}
